:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-container: hsl(0, 0%, 14%);
    --hover: hsl(154, 14%, 44%);
    --text2 : hsl(0, 1%, 61%);
    --text1: hsl(0, 0%, 100%);
    --accent: hsl(7, 94%, 58%);
    --fs-body: 100%;
    --lh-body: 1.56;
}

html {
    display: flex;
    box-sizing: border-box;
    font-size: 100%;
}

div.container-row {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-body);
}

div.project-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bg-body);
}

div.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-body);
}

body {
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    background-color: var(--bg-body);
    color: var(--text1);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
}

div.intro {
    border-right: 1px solid var(--accent);
    background-color: var(--bg-container);
    max-width: 200px;
    margin-right: 20px;
    padding: 10px;
}

div.project {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    border: 1px solid var(--accent);
    background-color: var(--bg-container);
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project div.header {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.project div.content {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.project img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
