:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-container: hsl(0, 0%, 14%);
    --hover: hsl(154, 14%, 44%);
    --text2 : hsl(0, 1%, 61%);
    --text1: hsl(0, 0%, 100%);
    --accent: hsl(7, 94%, 58%);
    --fs-body: 100%;
    --lh-body: 1.56;
}

html {
    display: flex;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
    background-color: var(--bg-body);
    color: var(--text1);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
}

/* Top header and menu */
div.container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-body);
}

div.header {
    border-bottom: 1px solid var(--accent);
    background-color: var(--bg-container);
    text-align: center;
}

div.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    align-items: center;
}

a:link {
    color: var(--text2);
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: var(--hover);
}

/* Projects */
div.project-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bg-body);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

div.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-body);
}

div.project {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    border: 1px solid var(--accent);
    background-color: var(--bg-container);
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project div.header {
    text-align: center;
    padding-left: 10px;
    padding-right: 5px;
}

.project div.content {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.project img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* About */
div.about {
    background-color: var(--bg-container);
    color: var(--text1);
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}